.root {
  --color-bg-main: #222830;
  --color-border: #38475c;
  --color-text: #cedbed;
  --color-text-hover: #edf3fa;
  --color-text-secondary: #a7b2c2;
  --color-text-input: #edf3fa;
  --color-action: #5087d4;
  --color-action-hover: #5a92e0;
  --color-text-action: #dce7f5;
  --color-text-action-hover: #ffffff;
  --color-danger: #d1322a;
  --color-danger-hover: #e0382f;
}
