.root {
  --color-bg-main: #dae5f5;
  --color-text: #323942;
  --color-text-hover: #21252b;
  --color-text-secondary: #536073;
  --color-text-input: #21252b;
  --color-action: #5087d4;
  --color-action-hover: #5a92e0;
  --color-text-action: #dce7f5;
  --color-text-action-hover: #ffffff;
  --color-border: #a1b6d4;
  --color-danger: #f03e35;
  --color-danger-hover: #e0382f;
}
