.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s linear;
  --sidebar-width: 60px;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  padding: 0 16px;
  align-items: center;
  gap: 8px;
}

.link {
  text-decoration: none;
  line-height: 32px;
  padding: 0 12px;
  border-radius: 6px;
  color: var(--color-text-secondary);
  border: 2px solid var(--color-action);
}

.link:hover {
  color: var(--color-text);
}

.link.isActive {
  color: var(--color-text);
  background-color: var(--color-action);
}
