.container {
  position: relative;
  overflow: hidden;
  --scrollbar-overflow: 20px;
  --neg-scrollbar-overflow: -20px;
  --scrollable-size: 20000px;
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  overflow: auto;
}

.container.vertical.snappingEnabled .scrollArea {
  scroll-snap-type: y mandatory;
}

.container.horizontal.snappingEnabled .scrollArea {
  scroll-snap-type: x mandatory;
}

.container.scalingEnabled .scrollArea {
  overscroll-behavior-x: contain;
}

.container.vertical .scrollArea {
  bottom: 0;
  right: var(--neg-scrollbar-overflow);
  flex-direction: column;
}

.container.horizontal .scrollArea {
  bottom: var(--neg-scrollbar-overflow);
  flex-direction: row;
  right: 0;
}

.container.vertical .scrollable {
  position: relative;
  width: 100%;
  min-height: var(--scrollable-size);
}

.container.horizontal .scrollable {
  position: relative;
  min-width: var(--scrollable-size);
  height: 100%;
}

.content {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.container.vertical .content {
  width: calc(100% - var(--scrollbar-overflow));
  height: 100%;
  min-height: 100%;
}

.container.horizontal .content {
  height: calc(100% - var(--scrollbar-overflow));
  width: 100%;
  min-width: 100%;
}

.snapTarget {
  scroll-snap-align: center;
  box-sizing: border-box;
  position: absolute;
}

.container.vertical .snapTarget {
  left: 0;
  right: 0;
  /* border-top: 1px solid red; */
}

.container.horizontal .snapTarget {
  top: 0;
  bottom: 0;
}

.itemsContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.item {
  box-sizing: border-box;
  position: absolute;
}

.container.vertical .item {
  left: 0;
  right: 0;
}

.container.horizontal .item {
  top: 0;
  bottom: 0;
}
