.modal {
  width: 360px;
  padding: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeBtn {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  padding: 6px;
  cursor: pointer;
  margin-right: -6px;
}

.closeIcon {
  width: 20px;
  height: 20px;
  fill: var(--color-text);
}

.title {
  font-size: 18px;
}

.footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button {
  width: 100%;
  height: 44px;
}
