.root {
  box-sizing: border-box;
  border-radius: 0;
  text-decoration: none;
  padding: 0 20px;
  height: 36px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 2px solid var(--color-action);
  cursor: pointer;
}

.root:hover {
  border: 2px solid var(--color-action-hover);
}

.style_action {
  background-color: var(--color-action);
  color: var(--color-text-action);
}

.style_action:hover {
  background-color: var(--color-action-hover);
  color: var(--color-text-action-hover);
}

.style_outline {
  color: var(--color-text);
}

.style_outline:hover {
  color: var(--color-text-hover);
}
