.formInput {
  margin-top: 16px;
}

.fieldLabel {
  margin-bottom: 4px;
  color: var(--color-text-secondary);
}

.formSubmit {
  margin-top: 24px;
}

.formSubmit + .formSubmit {
  margin-top: 12px;
}

.formSubmit .submitBtn {
  width: 100%;
}
