.root {
  position: absolute;
  inset: 0;
}

.content {
  position: absolute;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 100px;
  overflow: auto;
}

.page {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 360px;
  width: 100%;
  padding: 0 16px;
}

@media (max-width: 440px) {
  .page {
    max-width: 100%;
  }
}

.title {
  font-size: 22px;
  margin-bottom: 20px;
}

.testAnimation {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
}

.draggable {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: red;
  position: absolute;
  left: 0;
  bottom: 10px;
  cursor: grab;
}

.animated {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: green;
  position: absolute;
  left: 0;
  top: 10px;
}
