.root {
  position: absolute;
  inset: 0;
}

.content {
  position: absolute;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.logo {
  width: 30vh;
  height: 30vh;
  position: relative;
}

.logoSvg {
  position: absolute;
  inset: 0;
  fill: var(--color-action);
}

.title {
  margin: -1vh 0 0;
  padding: 0;
  font-size: 7vh;
  font-family: "Times New Roman", Times, serif;
  /* color: var(--color-action); */
}

.caption {
  font-size: 4vh;
  margin-top: 1vh;
  text-align: center;
  font-weight: 300;
}

.description {
  margin-top: 2vh;
  max-width: 60vh;
  text-align: center;
  font-size: 2.5vh;
  font-weight: 250;
}

.buttons {
  margin-top: 3vh;
  display: flex;
  gap: 8px;
}
