.container {
  position: relative;
  overflow: hidden;
}

.scrollArea {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -20px;
  overflow: auto;
}

.scrollable {
  height: 10000px;
}

.content {
  width: calc(100% - 20px);
  height: 100%;
  position: sticky;
  top: 0;
  bottom: 0;
}

.item {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px solid red;
}
