/* src/components/terms-of-use/content.module.css */
.content_content {
  font-weight: 300;
}
.content_subtitle {
  font-size: 20px;
  font-weight: 400;
}
.content_link {
  color: var(--color-text);
}
