/* src/components/privacy-policy/content.module.css */
.content_content2 {
  font-weight: 300;
}
.content_subtitle2 {
  font-size: 20px;
  font-weight: 400;
}
.content_link2 {
  color: var(--color-text);
}
