.root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: var(--header-height);
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.root.home {
  justify-content: flex-end;
}

.homeLink {
  width: 32px;
  height: 32px;
  padding: 6px;
  box-sizing: border-box;
  margin-left: -6px;
  margin-right: auto;
}

.homeSvg {
  margin-top: -1px;
  width: 20px;
  height: 20px;
  fill: var(--color-action);
}

.homeLink:hover .homeSvg {
  fill: var(--color-action-hover);
}

.routeName {
  font-size: 20px;
}

.profileLink {
  width: 32px;
  height: 32px;
  padding: 6px;
  box-sizing: border-box;
  margin-left: 12px;
}

.profileSvg {
  margin-top: -1px;
  width: 20px;
  height: 20px;
  fill: var(--color-action);
}

.profileLink:hover .profileSvg {
  fill: var(--color-action-hover);
}
