.root {
  position: absolute;
  inset: 0;
  --header-height: 50px;
  --footer-height: 50px;
  --sidebar-width: 60px;
}

@media (max-width: 560px) {
  .root {
    --footer-height: 80px;
  }
}

.header {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: var(--header-height);
  border-bottom: 1px solid var(--color-border);
}

.dayHeader {
  position: absolute;
  top: 0;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
  padding: 0 4px;
}

.footer {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--footer-height);
  border-top: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
}

@media (max-width: 560px) {
  .footer {
    flex-wrap: wrap;
    padding: 12px 0;
  }
}

.chartContent {
  position: absolute;
  left: var(--sidebar-width);
  right: 0;
  top: var(--header-height);
  bottom: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  position: absolute;
  left: 0;
  top: var(--header-height);
  bottom: var(--footer-height);
  width: var(--sidebar-width);
  border-right: 1px solid var(--color-border);
}

.durationTime {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 20px;
  color: var(--color-text-secondary);
}

.canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.colorCaption {
  font-weight: 500;
  text-align: center;
}

@media (max-width: 560px) {
  .colorCaption {
    flex-basis: 40%;
  }
}
