.root {
  position: relative;
}

.container {
  position: absolute;
  inset: 0;
  overflow: scroll;
}

.root.vertical.snappingEnabled .container {
  scroll-snap-type: y mandatory;
}

.root.horizontal.snappingEnabled .container {
  scroll-snap-type: x mandatory;
}

.scrollable {
  position: relative;
}

.root.vertical .scrollable {
  height: 20000px;
}

.root.horizontal .scrollable {
  width: 20000px;
}

.stickyContent {
  position: sticky;
}

.root.vertical .stickyContent {
  top: 0;
  height: 1px;
}

.root.horizontal .stickyContent {
  left: 0;
  width: 1px;
}

.snapTarget {
  position: absolute;
}

.root.vertical .snapTarget {
  left: 0;
  right: 0;
  bottom: 0;
}

.root.horizontal .snapTarget {
  top: 0;
  right: 0;
  bottom: 0;
}

.snapTargetItem {
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid green;
  box-sizing: border-box;
  scroll-snap-align: center;
}
