.content {
  position: absolute;
  inset: 0;
  overflow: auto;
}

.page {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 360px;
  width: 100%;
  padding: 16px;
  min-height: 520px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 440px) {
  .page {
    max-width: 100%;
  }
}

.title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}

.formSubmit {
  display: block;
}
