.modal {
  width: 400px;
  padding: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeBtn {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  padding: 6px;
  cursor: pointer;
  margin-right: -6px;
}

.closeIcon {
  width: 20px;
  height: 20px;
  fill: var(--color-text);
}

.title {
  font-size: 18px;
}

.formPart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTitle {
  margin-bottom: 8px;
}

.datePicker {
  width: 100%;
}

.submit {
  display: flex;
  justify-content: center;
}

.shareLink {
  word-break: break-all;
  margin-top: 8px;
}

.shareLinkTitle {
  margin-top: 16px;
}
